/** Стили для пк **/
@media (max-width: 1440px) {

}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {

}

/** Стили для телефонов **/
@media (max-width: 800px) {

}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {

}