/** Стили для пк **/
@media (max-width: 1440px) {
    .hero {
        padding-inline: 0;
    }

    .hero .gamepad {
        display: none;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {
    header .burger-icon {
        display: flex;
    }

    header .header-actions {
        display: none;
    }

    header nav {
        display: none;
    }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
    header .logo {
        font-size: 1.5rem;
    }

    header .mobile-menu {
        top: 95px;
    }

    .hero .logo span {
        font-size: 54px;
    }

    .hero .branding p {
        font-size: 20px;
    }

    .hero .branding a {
        font-size: 16px;
        padding: 20px;
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding: 20px;
    }

    header .mobile-menu {
        top: 85px;
    }

    .hero .logo span {
        font-size: 36px;
    }

    .hero .branding p {
        font-size: 16px;
    }

    .hero .branding a {
        font-size: 14px;
        padding: 12px;
    }
}