/** Стили для пк **/
@media (max-width: 1440px) {
    .hero {
        padding-inline: 0;
    }

    .hero .gamepad {
        display: none;
    }
}

/** Сенсорные устройства **/
/** Стили для планшетов **/
@media (max-width: 1100px) {
    header .burger-icon {
        display: flex;
    }

    header .header-actions {
        display: none;
    }

    header nav {
        display: none;
    }

    .popular-products .card {
        max-width: 275px;
    }

    .popular-products .card .text-img p {
        font-size: 22px;
    }

    .popular-products .card a {
        font-size: 16px;
        padding: 10px;
    }
}

/** Стили для телефонов **/
@media (max-width: 800px) {
    header .logo {
        font-size: 1.5rem;
    }

    header .mobile-menu {
        top: 95px;
    }

    .hero .logo span {
        font-size: 54px;
    }

    .hero .branding p {
        font-size: 20px;
    }

    .hero .branding a {
        font-size: 16px;
        padding: 20px;
    }

    .footer-column {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-links {
        flex-direction: column;
        font-size: 14px;
    }

    .footer-social  {
        flex-direction: column;
        font-size: 14px;
    }

    .footer-contact {
        flex-direction: column;
        gap: 0.1rem;
        font-size: 14px;
    }
}

/** Стили для очень маленьких телефонов **/
@media (max-width: 500px) {
    header {
        padding: 20px;
    }

    header .mobile-menu {
        top: 85px;
    }

    .hero .branding .hero-btn {
        font-size: 20px;
        padding: 10px 30px;
    }

    .hero .logo span {
        font-size: 36px;
    }

    .hero .branding p {
        font-size: 16px;
    }

    .hero .branding a {
        font-size: 14px;
        padding: 12px;
    }

    .promotions .promotions-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    }

    footer .logo {
        font-size: 32px;
    }
}