:root {
    /* Для заголовков (Montserrat) */
    --font-heading: 'Montserrat';

    /* Для UI и подобных элементов (Inter) */
    --font-ui: 'Inter';

    /* Для основного текста (Lato) */
    --font-body: 'Lato';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
}

header {
    position: fixed;
    top: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: rgba(0, 0, 30, 0.65);
    border: 2px solid rgba(74, 144, 226, 0.3);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

header .logo {
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
}

.logo-part.console {
    color: rgba(75, 150, 225, 0.8);
}

.logo-part.hub {
    color: rgba(255, 255, 255, 1);
}

header ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: auto;
}

header ul li a {
    font-family: var(--font-ui);
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

header ul li a:hover {
    color: rgba(75, 150, 225, 0.8);
}

header .header-actions {
    display: flex;
    gap: 1rem;
    width: 200px;
    justify-content: end;
}

header .header-actions a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease-in-out;
}

header .header-actions a:hover {
    color: rgba(75, 150, 225, 0.8);
}

.active-page {
    color: rgba(130, 210, 240, 1);
    text-shadow: 0 0 4px rgba(75, 150, 225, 0.5);
}

.mobile-a {
    display: none;
}

header .burger-icon {
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

header .burger-icon .hamburger {
    position: relative;
    display: block;
    width: 30px; 
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease;
}

header .burger-icon .hamburger::before,
header .burger-icon .hamburger::after {
    content: '';
    position: absolute;
    display: block;
    width: 30px; 
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
    transition: transform 0.5s ease;
}

header .burger-icon .hamburger::before {
    top: -8px;
}

header .burger-icon .hamburger::after {
    top: 8px;
}

header .burger-icon.active-burger .hamburger {
    background-color: transparent;
}

header .burger-icon.active-burger .hamburger::before {
    transform: translateY(8px) rotate(45deg);
}

header .burger-icon.active-burger .hamburger::after {
    transform: translateY(-8px) rotate(-45deg);
}

header .mobile-menu .mobile-a {
    display: block;
}

header .mobile-menu {
    position: fixed;
    display: block;
    width: 90vw;
    left: 0px;
    top: 105px;
    z-index: 5;
    padding: 15px;
    padding-left: 40px;
    background-color: rgba(0, 0, 30, 0.65);
    border: 2px solid rgba(74, 144, 226, 0.3);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

header .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero {
    background-image: url('../img/fon_section_hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}